@page
@model ContactTracing.Pages.Doses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dose</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dose.ID" />
            <div class="form-group">
                <label asp-for="Dose.dateTime" class="control-label"></label>
                <input asp-for="Dose.dateTime" class="form-control" />
                <span asp-validation-for="Dose.dateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dose.AccountID" class="control-label"></label>
                <select asp-for="Dose.AccountID" class="form-control" asp-items="ViewBag.AccountID"></select>
                <span asp-validation-for="Dose.AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dose.VaccineTypeID" class="control-label"></label>
                <select asp-for="Dose.VaccineTypeID" class="form-control" asp-items="ViewBag.VaccineTypeID"></select>
                <span asp-validation-for="Dose.VaccineTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
