@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Hendrix College Contact Tracing</h1>
    <partial name="_LoginPartial" />

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Account" style="text-align:center;">Create Account</a>

</div>
